GEMINI_API_KEY=tu_api_key_aqui
SMTP_SERVER=smtp.dominio.com
SMTP_PORT=587 # o 465 dependiendo de tu configuración
SPM_EMAIL=tu_correo_de_salida@dominio.com
SPM_PASSWORD=tu_contraseña_de_aplicacion
PERSONAL_EMAIL=tu_correo_personal@dominio.com